* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul, li {
  list-style: none;
}

a
  text-decoration: none;
  color: #586069;

  &:hover {
    color: #0366d6
  }
.header
  text-align: center;
  .header-link {
    color: #fff;
  }


.wrapper
  width: 800px;
  margin: 0 auto;

.loader
  display: block;
  margin: 0 auto;

.pagination
  .pagination-item,
  .break-me,
  .previous,
  .next {
    display: inline-block;
  }

  .pagination-item-link
    &:hover {
      color: #777;
      background-color: #eee;
    }

  .pagination-item-link,
  .previous,
  .next,
  .break-me  {
    padding: 6px 12px;
    border: 1px solid #ddd;
    cursor: pointer;
  }

  .previous {
    margin-right 10px;
  }

  .next {
    margin-left 10px;
  }

  .active
    .pagination-item-link {
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7;
    }
  .disabled {
    cursor: not-allowed;
  }