* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a
  text-decoration: none;
  color: #586069;

  &:hover {
    color: #0366d6
  }

.wrapper
  width: 800px;
  margin: 0 auto;

.loader
  display: block;
  margin: 0 auto;